body {
    margin: 0;
    font-family: 'Prosto One', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Контейнер */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Интро сайта */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    height: 100vh;
    background-color: rgb(67, 46, 54);
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

/* Текст в шапке */
.intro_title {
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: rgb(255, 255, 255);
}

/* Шапка */
.header {
    width:100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Навигация */
.nav {
    font-size: 14px;
    text-transform: uppercase;
    transition: color .2s linear;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav_link:hover {
    color: rgb(237, 191, 198);
}


/* Секции сайта */
.section{
    background-color: rgb(255, 255, 255);
}

.section_first_header{
    padding-top: 4vh;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 1vw;
    font-weight: 700;
    font-size: 4vh;
    color: rgb(0, 0, 0);
}

.section_second_header{
    padding-top: 2vh;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 1vw;
    font-weight: 700;
    font-size: 4vh;
    color: rgb(0, 0, 0);
}

.section_first_inner {
    display: inline-block;
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
    margin-left: 6vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    vertical-align: top;
}

.section_second_inner {
    display: inline-block;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    vertical-align: top;
}

.section_first_text {
    font-size: 2.5vh;
    color: rgb(237, 191, 198);
    margin-bottom: 5vh;
}

.section_second_text {
    font-size: 2.5vh;
    color: rgb(237, 191, 198);
    margin-bottom: 5vh;
}

.section_content {
    display: flex;
    justify-content: center;
}

.content_item {
    margin: 10px;
    width: 70%;
}

/* Картинки сайта */
img {
    display: block;
    max-width: 100%;
}

/* Кнопки сайта */
.button_first_type {
    width: 800px;
    height: 80px;
    cursor: pointer;
    border: none;
    background: rgb(67, 46, 54);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 40px;
    outline: none;
    transition: 0.2s;
    
    margin: 0 auto;
    margin-left: 6vw;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.button_first_type:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 0 rgb(0, 0, 0);
}

.button_first_type:active {
    transform: translateY(-2px);
    box-shadow: 0 3px 0 rgb(0, 0, 0);
}

.button_second_type {
    width: 800px;
    height: 80px;
    cursor: pointer;
    border: none;
    background: rgb(237, 191, 198);
    color: rgb(67, 46, 54);
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 40px;
    outline: none;
    transition: 0.2s;
    
    margin: 0 auto;
    margin-left: 6vw;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.button_second_type:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 0 rgb(0, 0, 0);
}

.button_second_type:active {
    transform: translateY(-2px);
    box-shadow: 0 3px 0 rgb(0, 0, 0);
}

/* Подвал сайта */
.footer_items{
    display: flex;
    justify-content: space-between;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.footer_socials{
    display: inline-block;
    margin-top: 0.6vh;
    margin-right: 1.5vw;
}

.section_mini_text{
    margin-top: 1.5vh;
    font-size: 3vh;
    color: rgb(67, 46, 54);
}
