/* Организация flex пространства*/
.container{
    display: flex;
    flex-wrap: wrap;
}

/* Организация пространства для flex рисунка и 
обознаначение базового изображения */
.background{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    margin: 15px auto;
    background: rgb(255, 255, 255);
    background-image: url('/assets/images/content_task2/ware1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

/* Изменеие базового изображения на другое */
.background:hover{
    background-image: url('/assets/images/content_task2/ware2.jpg');
    transition-duration: 1s;
}

/* Появление кастрюли */
.pot{
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-top: 80px;
    margin-left: 40px;
    background-image: url('/assets/images/content_task2/ware3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/* Крышка кастрюли */
.pot-lid{
    position: absolute;
    opacity: 0;
    width: 65px;
    height: 65px;
    margin-top: 77px;
    margin-left: 50px;
    background-image: url('/assets/images/content_task2/ware4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

/* Движение крышки кастрюли */
.background:active .pot-lid{
    animation: slap 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

/* Изменение размера кастрюли */
.background:hover .pot{
    animation: go-big-small 3s ease-in-out;
    opacity: 1;
}

/* Назвние магазина */
.shop-name{
    opacity: 0;
    position: absolute;
    font-size: 10px;
    color: rgb(0, 0, 0);
    left: 70px;
}

/* Появление назвния магазина */
.background:hover .shop-name{
    opacity: 1;
    transition: 3s;
}

/* Текст о жаропрочной посуде */
.utensil{
    opacity: 0;
    position: absolute;
    font-size: 13px;
    color: rgb(255, 0, 0);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: 30px;
    margin-left: 0px;
    z-index: 3;
}

/* Появление текста о жаропрочной посуде */
.background:active .utensil{
    opacity: 1;
    transition: 2s;
    transition-delay: 0.2s;
}

/* Тряска кастрюли */
.background:active .pot
{
    animation: shake 0.2s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

/* Ключевые кадры "изменения размера кастрюли" */
@keyframes go-big-small {  
    0% {
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    75%{
        transform: scale(1.7);
        opacity: 1;
    }
    100%{
        transform: scale(1); 
        opacity: 1;
    }
}

/* Ключевые кадры "хлопающая крышка" */
@keyframes slap {
    0%{
        opacity: 1;
        transform: rotate(0deg);
        transform-origin: right;
    }
    50%{
        opacity: 1;
        transform: rotate(-35deg);
        transform-origin: right;
    }
    100%{
        opacity: 1;
        transform: rotate(30deg);
        transform-origin: right;
    }
}

/* Ключевые кадры "тряска кастрюли" */
@keyframes shake {
    0%{
        transform: translate(0px, 0px);
    }
    33%{
        transform: translate(3px, 0px);
    }
    66%{
        transform: translate(-3px, 0px);
    }
    100%{
        transform: translate(-3px, 0px);
    }
}